h1 {
    font-family: Helvetica,Arial, sans-serif;
    font-size: 100px;
    font-weight:bold;
    color:khaki;
    text-align: center;
    background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg');
}

.brushes h2 {
    font-family: Helvetica,Arial, sans-serif;
    font-size: 32px;
    font-weight:bold;
    color:white;
    background-color: mediumspringgreen;
}


.Frames h2 {
    font-family: Helvetica,Arial, sans-serif;
    font-size: 32px;
    font-weight:bold;
    color:white;
    background-color:lightcoral;

}

.paint h2 {
    font-family: Helvetica,Arial, sans-serif;
    font-size: 32px;
    font-weight:bold;
    color:white;
    background-color:skyblue;
}

em {
    font-family: Helvetica,Arial, sans-serif;
    font-weight:bold;
    color:blue;
}